<nav class="navbar">
  <div class="navbar__container">
   <div class="navbar__logo" (click)="scrollTo('hero')">
  <span class="logo__title">BRAVOS</span>
  <small class="logo__subtitle">Oficina de Motos</small>
</div>



    <ul class="navbar__menu">
      <li>
        <button type="button" (click)="scrollToTop()">Início</button>
      </li>
      <li>
        <button type="button" (click)="scrollTo('services')">Serviços</button>
      </li>
      <li>
        <button type="button" (click)="scrollTo('about')">Sobre</button>
      </li>
      <li>
        <button type="button" (click)="scrollTo('contact')">Contato</button>
      </li>
    </ul>

    
  </div>
</nav>
