/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "bootstrap/dist/css/bootstrap.min.css";

/* Importa CSS do FontAwesome */
@import "@fortawesome/fontawesome-free/css/all.min.css";


 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
}

.header{
    color: #000;
}
html {
  scroll-behavior: smooth;
}
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}